.weather-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: rgba($white, 0.20);
  border-radius: 8px;
  box-shadow: 0 4px 30px $black;
  backdrop-filter: blur(8px);
  align-self: center;
  padding: 40px;
}
.weather-title__h2 {
  font-weight: 500;
}
.input-box {
  display: flex;
  column-gap: 20px;
  align-self: center;
}
.input-box__input {
  line-height: 0;
  padding: 12px;
  border-radius: 4px;
  input:checked {
    background: none;
  }
}
.input-box__button {
  line-height: 0;
  padding: 0 20px;
  background-color: $light-blue;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
  *::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: purple;
    height: 100px;
    width: 100px;
  }
  &:hover {
    background-color: $black;
    color: $white;
  }
}
.weather-paragraph {
  margin: 16px 0;
}
.weather-icon {
  font-size: 30px;
  color: $white;
}